<!DOCTYPE html>
<html>
	<head>
		<title>Confirmation</title>
	</head>
	<body>
		<div class="nav-bar">
			<a href="http://localhost:8080/all-drinks">All drinks</a>
		</div>
		<main id="main-content" role="main">
			<h1>Confirmation</h1>
			<h2>Your drink has been added!</h2>
        </main>
	</body>
</html>
