<!DOCTYPE html>
<html>
	<head>
		<style>
			a {
				display: inline;
				padding: 30px 15px 0 15px;
			}
			.nav-bar {
				padding-top: 10px;
			}
			#main-content {
				padding: 10px;
			}
			.error {
				color: red;
			}
		</style>
		<title>Add drink</title>
	</head>
	<body>
		<div class="nav-bar">
			<a href="http://localhost:8080/all-drinks">All drinks</a>
		</div>
		<main id="main-content" role="main">
			{{ if .Success }}
			<h1>Confirmation</h1>
			<h2>Your drink has been added!</h2>
			{{else}}
			<h2>Add a drink</h2>
			<form method="POST">
				{{ with .Errors.Name }}
				<p class="error">{{ . }}</p>
				{{ end }}
				<label>Title:</label><br />
				<input type="text" name="drink-name" value="{{ .Name }}"/><br />
				{{ with .Errors.Price }}
				<p class="error" >{{ . }}</p>
				{{ end }}
				<label>Price:</label><br />
				<input type="text" name="drink-price" value="{{ .Price }}"/><br /><br />
				<input type="submit" value="Add drink" />
			</form>
			{{ end }}
        </main>
	</body>
</html>


